.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. navbar .';
  /* max-height: 40px; */
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  place-content: center;
  max-height: 10px;
}

.link {
  width: 100%;
  height: 100%;
  margin: 0em 1em 0em 1em;
}

.icon {
  object-fit: contain;
  place-items: center;
  padding: 0.5em;
}

/* .link:hover {
  background: #b6b7bc;
  outline: none;
}

.link:active {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #ddd inset;
  outline: none;
} */
/* https://www.linkedin.com/in/sampolgar/ */
