* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #282D35;
}


.navbar-div {
    display: flex;
    align-items: center;
    background-color: #161619;
    justify-content: center;
    height: 65px;
    padding: 30px 25px;
    left: 0px;
    right: 0px;
    position: fixed;
    bottom: 0;
    column-gap: 25px;
}

.hero-photo-image {
    max-width: 100%;
    max-height: 100%;
}

.card-body {
    align-items: center;
    height: 100%;
    background-color: #282D35;
}

.card-body-text-card {
    margin: 10%;
    background-color: #282D35;
}

.card-body-text-heading {
    line-height: 10%;
    color: white;
    font-size: 13px;
    font-family: Courier New, Courier, monospace;
}

.card-body-text {
    color: white;
    font-size: 13px;
    font-family: Courier New, Courier, monospace;
    background-color: #282D35;
}


.social-button-div {
    display: flex;
    background-color: #161619;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    height: 20px;
    top: 0;
}

.social-button {
    display: inline-flex;
    align-items: center;
    width: 115px;
    border-radius: 6px;
    margin-left: 10px;
    height: 40px;;
}

.social-navbar {
    align-items: center;
    column-gap: 30px;
    margin-top: 0px;
    display: flex;
    background-color: #161619;
    justify-content: center;
    padding: 20px;
    left: 0px;
    right: 0px;
    bottom: 0;
}

.social-button-logo {
    height: 20px;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.social-button-text {
    color: #5093E2;
    
}