.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

.input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

.input:focus {
  outline: none;
  border-color: #0070f3;
}

.button {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0060d3;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
