.container {
  display: flex;
  place-content: center;
}

.link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.icon {
}

.link:hover {
  background: #37464a;
  outline: none;
  border-radius: 10px;
}

.link:active {
  color: #000;
  box-shadow: 0 0 0 #efefef;
  outline: none;
  border-radius: 5px;
}
