.container {
  height: 50px;
  display: flex;
  place-content: center;
  margin: 1rem 0 1rem 0;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.link {
  max-width: 100px;
  margin: 0 1rem 1rem 1rem;
}

.icon {
}

.link:hover {
  background: #37464a;
  outline: none;
}

.link:active {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #ddd inset;
  outline: none;
}
