.body {
  margin: 1rem 0 1rem 0;
  padding: 0;
  display: grid;
  place-items: center;
  max-width: 100%;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  font-family: 'Inter', sans-serif;
  align-items: flex-start;
}

.text {
  font-family: var(--inter-font);
  font-weight: 200;
  font-style: italic;
}

.counter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 12px 0 0;
  text-decoration: none;
}

.hr {
  border: none;
  border-top: 1px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 1rem 0 1rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

/* .title {
  color: white;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
} */

.heading {
  color: white;
  font-size: 1.7rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 2rem 0 2rem 0;
  text-align: left;
}

.about {
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
  text-align: left;
}

.subtitle {
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0;
  text-align: left;
}

.subtitle:hover {
  background: #2d2e36;
  outline: none;
  border-radius: 0.5rem;
}

.subtitle:active {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #ddd inset;
  outline: none;
}

.blogContainer {
}

.blogContent {
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  place-items: center;
  /* text-align: center; */
  /* background: #2d2e36; */
}

.blogContent:hover {
  background: #2d2e36;
  outline: none;
}

.blogContent:active {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #ddd inset;
  outline: none;
}

.blogDescription {
  color: #ec1919;
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
}

.link {
  width: 0.8rem;
}

.heroImage {
  width: 100%;
  border-radius: 0.3rem;
}

.cardImage {
  width: 100%;
  border-radius: 0.3rem;
}

@media only screen and (min-width: 550px) {
  .container {
    max-width: 700px;
  }

  .blogContainer {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    max-width: 700px;
    grid-template-columns: repeat(3, auto);
    column-gap: 1em;
  }

  .blogContent {
    height: 100%;
    width: 100%;
  }

  .cardImage {
    margin-right: 2rem;
    object-fit: cover;
  }

  .heroImage {
    object-fit: cover;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0 1rem 0;
  }

  .subtitle {
    font-weight: 400;
    margin: 0.8rem 0 0 0;
  }

  .cardContainer {
    display: flex;
    margin: 2rem 0 0 0;
    padding: 0;
  }
}

@media only screen and (min-width: 950px) {
  .body {
    font-size: 18px;
  }

  .cardImage {
    width: 100%;
  }
}
